**.logs
*.pyc
*.cp
*.pyc
*.csv
*.ipynb_checkpoints
user_manual/build/
*.md
*.pyc
*.DS_Store
*myeasylog.log
user_manual/source/API_2/scripts/Brusselator_box*.h5
user_manual/source/API_2/scripts/CaBurstSim_*.xmf
user_manual/source/API_2/scripts/DistCaburst_*.h5
user_manual/source/API_2/scripts/box_A*_B*_D*.xmf
user_manual/source/API_2/scripts/Caburst*.h5
user_manual/source/API_2/scripts/Efield*.h5
user_manual/source/API_2/scripts/Efield_MPI*.h5
user_manual/source/API_2/Caburst*.h5
user_manual/source/API_2/Efield*.h5
user_manual/source/API_2/box_A*_B*_D*.xmf
user_manual/source/API_2/square_A*_B*_D*.xmf
user_manual/source/API_2/Brusselator_box*.h5
user_manual/source/API_2/Brusselator_square*.h5
user_manual/source/API_2/Brusselator_wm*.h5
user_manual/source/API_2/CaBurst_*.pdf
python_scripts/API_*/**/*.dat
publication_models/API_2/Anwar_*/data
publication_models/API_2/Anwar_*/meshes
publication_models/API_2/Chen_FNeuroinf__2017/purkinje_model/result*
publication_models/API_2/Hepburn_FMolNeuSic__2017/data
