.highlight-python .highlight {
    background: #ebf6f6;
}
.highlight-python3 .highlight {
    background: #ebf6f6;
}
.highlight-bash .highlight {
    background: #f4ebf6;
}
.highlight-output .highlight {
    background: #eeeeee;
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}
